/* AQUI COLOCAMOS TODOS LOS ESTILOS DE LA APP */
 /* Colores --> https://www.colourlovers.com/palette/95638/Mini_Soccer 
 
 Verde claro: #ECF9CD
 Verde intermedio: #6AA95A
 Verde principal: #9DD102
 Verde Oscuro: #036704
 Naranja (contraste): #FF6601

 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');


 *{
     font-family: 'Noto Sans JP', sans-serif;
     
 } 

body{
    background: url("../img/backsoccerfield.jpeg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Propiedades de jumbotron landing page */
.big-banner{
    /* background-image: url("https://images.pexels.com/photos/2128220/pexels-photo-2128220.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"); */
    background-image: url("../img/landingback1.jpeg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Propiedades de jumbotron mapa */
.big-banner-map{
    /* background-image: url("https://www.nacion.com/gnfactory/especiales/infografias/2020/marzo/comparatives/here002.jpg"); */
    background-image: url("../img/landingback2.jpeg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}