/* AQUI COLOCAMOS TODOS LOS ESTILOS DE LA APP */
 /* Colores --> https://www.colourlovers.com/palette/95638/Mini_Soccer 
 
 Verde claro: #ECF9CD
 Verde intermedio: #6AA95A
 Verde principal: #9DD102
 Verde Oscuro: #036704
 Naranja (contraste): #FF6601

 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');


 *{
     font-family: 'Noto Sans JP', sans-serif;
     
 } 

body{
    background: url("../img/backsoccerfield.jpeg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


